body {
    margin-top: 0;
}
.topbar{
  height: 60px;
  background-color: #f0f0f0;
}

.mainmenu {
    background-color: #FFF;
    min-height:112px;
}

.searchbar {
/*    height: 72px;*/
    padding-bottom: 11px;
    background-color: #4a90e2;
}

.region-searchbar {
    padding: 15px 0px 0px 15px;
}

.drupal-hero {
      height: 313px;
      background:url('../images/group-11.png');
      -webkit-background-size: cover;
           -o-background-size: cover;
              background-size: cover;
      color:#fff;
}

.gray-bar {
    padding-bottom:41px;
    background-color: #f0f0f0;
    box-shadow: 0 1px 0 0 #cecece, 0 -1px 0 0 #cecece;
}

h2.block-title {
  font-family: Roboto;
  font-size: 16px;
  font-weight: bold;
  color: #0e1c2d;
  text-transform: uppercase;
  margin-top:40px;
}


.slogo {
    margin-top: 32px;
}

.navbar-custom ul.nav {
    margin-top: 30px;
    border: solid 1px #cecece;
    border-right: none;
}

.menu li a.fa {
    font-family: Roboto;
    font-size: 16px;
}
.menu li a.fa:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 5px;
}

.navbar-custom ul.nav li a {
    border-right: solid 1px #cecece;
}
.navbar-custom ul.nav li:last-child a {
    border-right:none;
}

.navbar-custom ul.nav a {
    font-size: 16px;
    font-weight: 500;
    color: #0e1c2d;
}


.navbar-custom ul.nav li.active a {
    padding-top:12px;
    border: solid 2px #4a90e2;
    padding-bottom:12px;
}


.navbar-custom ul.nav li a:hover {
background-color: #f0f0f0;
}

.fwrapper {
  border-top: 3px solid #4a90e2;
  min-height: 182px;
  background-color: #0e1c2d;
  color: #9b9b9b;
}

.fwrapper a {
    color: #fff;
}
.footer {
    margin-top: 15px;
    padding-top: 15px;
    border-top: none;
}

.footer-copyright {
    font-size: 13px;
}

.footer-social {
    font-size: 14px;
}
.footer-social .fa{
    font-size: 20px;
}
.footer-social .fa-twitter-square {
    color: #4a90e2;
}


.logo-footer {
    width:60px;
    height:40px;
    background: url('../images/logo-footer.png') no-repeat;
    margin-top: 24px;
}

div.region-langswitch {
    max-height: 57px;
    overflow: hidden;
}

.region-langswitch ul {
    list-style-type: none;
    margin-top: 15px;
    padding-left:0;
}

.region-langswitch li > a,
.region-langswitch li > a:visited {
    display: block;
    border: solid 1px #cecece;
    padding:6px 15px;
    width:84px;
    height: 31px;
    margin-top: 15px;
    font-size: 13px;
    font-weight: bold;
    color: #333333;
    text-transform: uppercase;
    text-align: center;
 }

.region-langswitch li.is-active {
    display: none;
}

h1.page-header {
    border:none;
    font-family: Roboto;
    font-size: 32px;
    font-weight: bold;
    color: #0e1c2d;
}

.region-menu2 {
    padding:10px;
}
.region-menu2 .menu li a {
    display: none;
}
.region-menu2 .menu li a.menu2 {
    display: block;
}

.region-navigation .menu li a.menu2 {
    display: none;
}


.region-menu2 .menu li a {
    color:#fff;
    font-size: 16px;
    font-weight: bold;
}

.menu li a:hover {
    background: none;
}

.datacat-wrapper {
    height: 79px;
    display: block;
    /*border-bottom: 5px solid #42211f;
     background-color:#fff; */
    padding: 8px 15px;
    margin-top:10px;

    background-size: 100% 200%;
    background-image: linear-gradient(to top, #00859f 50%, #fff 50%);
    -webkit-transition: background-position 0.25s;
    -moz-transition: background-position 0.25s;
    transition: background-position 0.25s;
}

@media (min-width: 768px) {
    .datacat-wrapper {
        border-top:none !important;
        border-right:none !important;
        border-left:none !important;
    }
}
@media (max-width:767px) {
    .datacat-wrapper {
        border-top:none !important;
        border-bottom:none !important;
        border-left:none !important;
        height: 46px;
    }

    .datacat-wrapper:after {
      color: #cecece;
      position:absolute;
      top: 8px;
      right: 25px;
      content:'keyboard_arrow_right';
      font-family: 'Material Icons';
      font-weight: normal;
      font-style: normal;
      font-size: 32px;  /* Preferred icon size */
      display: block;
      line-height: 1;
      text-transform: none;
      letter-spacing: normal;
      word-wrap: normal;
      white-space: nowrap;
      direction: ltr;
      -webkit-font-smoothing: antialiased;
      text-rendering: optimizeLegibility;
      -moz-osx-font-smoothing: grayscale;
      font-feature-settings: 'liga';
    }

}



.datacat-wrapper:hover {
    background-position: 0 100%;
    text-decoration: none;
}

.datacat-wrapper:hover .datacat {
    color:#fff;
}

.datacat {
    font-size:15px;
    text-align: center;
    display:block;
    color: #0e1c2d;
    width: 100%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transition: color 0.12s;
    -moz-transition: color 0.12s;
    transition: color 0.12s;
}

a.datacat-wrapper :hover,
a.datacat-wrapper :focus,
a.datacat-wrapper :active,
a.datacat-wrapper :visited
 {
    text-decoration: none;
}

.teaser h2,
.teaser h2 a{
  font-size: 22px;
  font-weight: bold;
  color: #468ee5;
}

.teaser .author,
.teaser .links
 {
    display: none;
}

#block-views-block-aktualitates-block-1 .block-title {
    cursor: pointer;
}

#block-views-block-aktualitates-block-1 > .block-title:after {
  color: #4a90e2;
  position:relative;
  margin-top:-10px;
  top: 6px;
  content:'keyboard_arrow_right';
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
}

.path-frontpage .page-header {
    display: none;
}


.accessibility {
    font-size:13px;
    margin-top: 21px;
}
.accessibility .material-icons {
    font-size:20px;
    cursor: pointer;
}

.accessibility .mi-left {
    margin-top: -1px;
    position: absolute;
    margin-left: -25px;
}
.accessibility .mi-right {
    margin-top: -1px;
    position: absolute;
    margin-left: 5px;
}

.accessibility .contrast {
  cursor: pointer;
}


.unstyled {
    list-style-type: none;
    padding-left:0;
}

.account li {
    float: left;
    display: block;
    border: solid 1px #cecece;
}
.account li {
    border-right:none;
}
.account li:last-child {
    border-right:solid 1px #cecece;
}

.account li a {
    display: block;
    padding: 6px 10px;
    font-size: 13px;
    font-weight: bold;
    color: #333333;
    text-transform: uppercase;
}

.account .material-icons {
    font-size:16px;
    color: #116cc5;
}

.region-hero h1 {
     margin-top: 40px;
     font-size: 32px;
}


.hero-counters {
    margin-top: 100px;
}

.labeled-counter .ccount {
  font-family: Roboto;
  font-size: 42px;
  font-weight: bold;
  letter-spacing: -2.5px;
  color: #4a90e2;
  text-align: center;
  width:100%;
}
.labeled-counter .ccount a {
  color: #4a90e2;
}

.labeled-counter .clabel {
    padding-top: 6px;
    border-top: 2px solid #fff;
    font-family: Roboto;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.8px;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    width:100%;
}

.labeled-counter .clabel a {
    color: #ffffff;
}

.labeled-counter .ccount a,
.labeled-counter .clabel a {
  text-decoration: none;
}

.btn-transparent {
  margin-top:25px;
  margin-bottom:25px;
  display: block;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  padding:18px;
  border: solid 1px #ffffff;
  width: 243px;
}
.btn-transparent:hover,
.btn-transparent:active,
.btn-transparent:visited,
.btn-transparent:focus {
  color: #ffffff;
}
.btn-transparent .fa {
    margin-right:10px;
}
.btn-transparent .material-icons {
    position:absolute;
    margin-left:10px;
}

.data-search-form {
    padding-top:15px;
}

.input-group-addon.addon-blue {
    padding:0;
    color:#4a90e2;
    background-color:#fff;
    border-left:none;
    padding-right:10px;
    box-shadow:none;
    border-radius:0px;
    border:none;
}

.searchbar input,
.searchbar input:focus {
    border-right: none;
    border: none;
    border-radius:0px;
    height: 42px;
    -webkit-box-shadow: none;
            box-shadow: none;
    font-size: 16px;
    padding: 6px 12px;
}

.searchbar button {
    background:none;
    box-shadow:none;
    border: solid 1px #ffffff;
    width:100%;
    height: 42px;
    padding:7px;
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
}


.dark-sky-blue {
    color: #4a90e2;
}


ul.sidebar_menu,
.sidebar_menu > ul {
    list-style: none;
    margin-top: 0px;
    padding-left:0;
}
ul.sidebar_menu > li > a,
.sidebar_menu > ul > li > a {
   font-family: Roboto;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.2px;
  color: #0e1c2d;
  text-transform: uppercase;
  cursor: default;
}
.sidebar_menu > ul > li > a:focus {
  background: none;
}
.sidebar_menu > ul > li > a > .caret {
  display:  none;
}

ul.sidebar_menu > li,
.sidebar_menu > ul > li {
    padding-top:25px;
}
ul.sidebar_menu > li > ul,
.sidebar_menu > ul > li > ul {
    list-style: none;

}

ul.sidebar_menu > li > ul > li > a,
.sidebar_menu > ul > li > ul > li > a {
  font-family: Roboto;
  font-size: 14px;
  color: #116cc5;
  padding-bottom:10px;
  display: block;
}


.breadcrumb {
    background:  none;
    margin-top: 15px;
}

.breadcrumb .material-icons {
    position:absolute;
    margin-left: -18px;
    margin-top: -17px;
    font-size:20px;
}
.breadcrumb > li + li:before {
    content: ">";
    padding: 0 5px;
    color: #ccc;
}

.hbreadcrumb {
    margin-top: -13px;
    border-top:2px solid #cecece;
}
.path-frontpage .hbreadcrumb{
    display: none;
}

@media (max-width: 767px) {
  .toolbar .breadcrumb a {
      color: #505050;
  }
}

.feed-icon {
    display: none;
}

.article-date {
    font-family: Roboto;
  font-size: 14px;
  line-height: 1.57;
  text-align: right;
  color: #9b9b9b;
}

.event-date {
  font-family: Roboto;
  font-size: 12px;
  line-height: 1.83;
  color: #0e1c2d;
  margin-left:23px;
}

.event-date .material-icons{
  font-size: 20px;
  line-height: 1.1;
  letter-spacing: 0.5px;
  color: #9b9b9b;
  position:absolute;
  margin-left:-23px;
}

.region-content {
    margin-bottom: 20px;
}

#block-aktualakasdatukopas .field ul {
    list-style-type: none;
    padding:0;
    width:100%;
}

#block-aktualakasdatukopas .field ul li {
    display: block;
    border-top: solid 1px #cecece;
    border-left: solid 1px #cecece;
    border-right: solid 1px #cecece;
    width:100%;
    padding:10px;
    font-family: Roboto;
    font-size: 14px;
    color: #116cc5;

padding-left:30px;
}

#block-aktualakasdatukopas .field ul li:last-child {
    border-bottom: solid 1px #cecece;
}

#block-aktualakasdatukopas .field ul li .fa {
    font-size: 18px;
    color: #506576;
    position:absolute;
    margin-left:-22px;
}


#block-aktualakasdatukopas .field ul li:nth-child(1) .fa {
  color: #eb7300;
}
#block-aktualakasdatukopas .field ul li:nth-child(2) .fa {
  color: #78519e;
}
#block-aktualakasdatukopas .field ul li:nth-child(3) .fa {
  color: #af2e40;
}


.graypromo {
  background-color: #f0f0f0;
  border: solid 1px rgba(0, 0, 0, 0.1);
  padding:30px;
  padding-top:0px;
  margin-bottom:100px;
}

.buj {
     font-size: 15px;
}





.path-buj .page-header {
  display: none;
}

.view-jautajumi-atbildes h3 {
  font-size: 16px;
  font-weight: bold;
  color: #0e1c2d;

}
.uppercase {
  text-transform: uppercase;
}
.view-jautajumi-atbildes a {
  font-weight: normal;
}

.view-jautajumi-atbildes .panel-title a {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
/*  line-height: 2.57; */
  color: #0d1522;
}

.view-jautajumi-atbildes .panel-title a.collapsed {
  font-weight: normal;
  color: #116cc5;
  text-decoration: none;
}


.view-jautajumi-atbildes .panel-heading {
  padding-left:15px;
  padding-bottom:5px;
}

.view-jautajumi-atbildes .panel-title a:before {
  background-color: #ccc;
  color: #fff;

    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);

  width: 16px;
  height: 16px;
-webkit-border-radius: 8px;
        border-radius: 8px;
  position:relative;
  top: 3px;
  left: -12px;
  font-size: 16px;

  content:'keyboard_arrow_right';
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
}

.view-jautajumi-atbildes .panel-title a.collapsed:before {
  background-color: #4990e2;
  color: #fff;

    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);

}



.view-jautajumi-atbildes a.buj-toggle-all {
    text-transform: none;
    font-size: 15px;
    margin-left: 20px;
    cursor: pointer;
}


.panel-accord {
  border:none;
  -webkit-box-shadow: none;
          box-shadow: none;
  margin-bottom: 0px;
}


.title-arrow h2.block-title {
    cursor: pointer;
}

.title-arrow h2.block-title:after {
  color: #4a90e2;
  position:relative;
  margin-top:-10px;
  top: 6px;
  content:'keyboard_arrow_right';
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
}



.account li {
  height: 35px;
}









.block-gray-tip {
  border-radius: 2px;
  background-color: #f7f7f7;
  border: solid 1px #cecece;
  padding: 35px 80px;
}

.block-gray-tip label {
  font-size: 15px;
  color: #0e1c2d;
  font-weight: normal;
}


.block-gray {
  border-radius: 2px;
  background-color: #f7f7f7;
  border: solid 1px #cecece;
  padding: 35px 80px;
}

.block-gray label {
  font-size: 15px;
  color: #0e1c2d;
  font-weight: normal;
}


.portal .btn-primary,
.portal .btn {
  background-color: #3b99fc;
  border: solid 1px rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 0;
          border-radius: 0;
}

.portal .btn-primary:hover,
.portal .btn:hover {
  background-color: #0D83FE;
}

.centered-button {
  width: 348px;
  height: 42px;
  border: solid 1px #cecece;
  padding:2px 15px;
  margin:auto;
  margin-top:20px;
  margin-bottom:20px;
  font-size: 16px;
  line-height: 1.63;
  cursor: pointer;
    text-align: center;
}

.centered-button i {
  top: 6px;
  position: relative;
  left: 5px;
}

.captcha {
  margin-bottom:15px;
}

.field--name-field-adrese {
   font-size: 12px;
  line-height: 1.83;
  color: #0a53bc;
}

.field--name-field-adrese:before {
  content:"\f124";
  width: 16px;
  height: 22px;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 16px;
  line-height: 1.1;
  color: #9b9b9b;
  margin-right: 3px;
  position: relative;
  top: 2px;

}

a.field--name-field-adrese,
a.field--name-field-adrese:before {
  text-decoration: none;
}

.ics_file {
  font-size: 12px;
  line-height: 1.83;
  color: #0a53bc;
}

.ics_file:before {
  content:"\f274";
  width: 16px;
  height: 22px;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 16px;
  line-height: 1.1;
  color: #4a90e2;
  margin-right: 3px;
  position: relative;
  top: 2px;
}


.facebook_link {
  font-size: 12px;
  line-height: 1.83;
  color: #0a53bc;
  margin-left: 15px;
}

.facebook_link:before {
  content:"\f082";
  width: 16px;
  height: 22px;
  font-family: "Font Awesome 5 Brands";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.1;
  color: #4a90e2;
  margin-right: 3px;
  position: relative;
  top: 2px;
}


.lowercase  {
  text-transform: lowercase;
}

.full-node-summary {
  font-size: 20px;
  line-height: 1.5;
  color: #0e1c2d;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* iesaki datu kopu */
.dvote {
  width: 60px;
}

.dvote .vbox {
    border: solid 1px #cecece;
    padding-top:3px;
    padding-bottom:3px;
}
.dvote .numvotes {
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  color: #0e1c2d;
}
.dvote .vlabel {
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.5px;
  text-align: center;
  color: #cecece;
  text-transform: uppercase;
}

.dvote .vbutton {
  padding:5px 0px;
  margin-top:  14px;
  background-color: #4a90e2;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.5px;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
}

.dvote .vbutton.voted {
    background-color: #cecece;
    cursor: default;

}

.datu-kopa.teaser {
  margin-bottom:  20px;
}
.datu-kopa.teaser h2, .datu-kopa.teaser h2 a {
  font-size: 22px;
  font-weight: bold;
  color: #0d1522;
  margin-top: 0;
}

.datu-kopa .field--name-body {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  color: #0e1c2d;
}

#block-apraktsiesakidatukopu {
  margin-bottom: 30px;
}


.block-views-exposed-filter-blockiesaki-datu-kopu-page-1 label {
  text-transform: uppercase;
  margin-top: 30px;
}

.block-views-exposed-filter-blockiesaki-datu-kopu-page-1 .form-item {
  margin-bottom: 30px;
}

.block-views-exposed-filter-blockiesaki-datu-kopu-page-1 .form-item-sort-by {
  display: none;
  visibility: hidden;
}


.block-views-exposed-filter-blockiesaki-datu-kopu-page-1 .bef-links .form-group{
  clear: both;
  display: block;
}


@media (max-width:767px) {
  .account-wrapper {
    margin-top: 4px;
    margin-right:-15px;
    left:-15px;
    position: relative;
  }
  .account-wrapper li {
    height:31px;
  }
  .account li a {
    padding: 6px 5px;
    padding-top:3px;
    font-size: 12px;
  }

  .region-navigation .menu li a.menu2 {
      display: inline-block;
}

}

.mainmenu .col-xs-2.visible-xs {
  margin-right: 15px;
}

.node-toolbar {
  margin-top: 12px;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.main-container {
    flex: 1 1 auto;
}


/* ACC */
.hcontrast .topbar,
.hcontrast .navbar-custom ul.nav li a:hover,
.hcontrast .mainmenu,
.hcontrast .fwrapper a,
.hcontrast .searchbar {
    background-color: #000;
}
.hcontrast .searchbar input {
      border:2px solid #fff;
      color:#fff;
      background: #000;
}
.hcontrast .drupal-hero {
       color:#fff;
       background: none;
}
.hcontrast .gray-bar {
    background-color: #000000;
}
.hcontrast h2.block-title,
.hcontrast .navbar-custom ul.nav a
 {
  color: #fff;
}
.hcontrast .fwrapper {
  background-color: #000;
  color: #fff;
}
.hcontrast .footer-social .fa-twitter-square {
    color: #fff;
}
.hcontrast .region-langswitch li > a,
.hcontrast .region-langswitch li > a:visited {
    color: #fff;
 }

.hcontrast h1.page-header {
    color: #fff;
}

.hcontrast .region-menu2 .menu li a {
    color:#fff;
}
.hcontrast .datacat-wrapper:hover .datacat {
    color:#fff;
}

.hcontrast .teaser h2,
.hcontrast .teaser h2 a{
  color: #fff;
}

.hcontrast #block-views-block-aktualitates-block-1 > .block-title:after {
  color: #fff;
}
.hcontrast .account li a {
    color: #fff;
}
.hcontrast .account .material-icons {
    color: #fff;
}

.hcontrast .hero-counters {
    margin-top: 100px;
}
.hcontrast .labeled-counter .ccount {
  color: #fff;
}
.hcontrast .labeled-counter .clabel,
.hcontrast .btn-transparent,
.hcontrast .btn-transparent:hover,
.hcontrast .btn-transparent:active,
.hcontrast .btn-transparent:visited,
.hcontrast .btn-transparent:focus,
.hcontrast .searchbar button {
  color: #fff;
}

.hcontrast .input-group-addon.addon-blue {
    color:#fff;
    background-color:#000000;
}
.hcontrast .dark-sky-blue {
    color: #fff;
}
.hcontrast ul.sidebar_menu > li > a,
.hcontrast .sidebar_menu > ul > li > a {
  color: #fff;
}

.hcontrast ul.sidebar_menu > li > ul > li > a,
.hcontrast .sidebar_menu > ul > li > ul > li > a {
  color: #fff;
}
.hcontrast .breadcrumb > li + li:before {
    color: #fff;
}
.hcontrast .article-date {
  color: #fff;
}
.hcontrast .event-date {
  color: #fff;
}
.hcontrast .event-date .material-icons{
  color: #fff;
}


.hcontrast #block-aktualakasdatukopas .field ul li {
  color: #fff;
}
.hcontrast #block-aktualakasdatukopas .field ul li:nth-child(1) .fa {
  color: #fff;
}
.hcontrast #block-aktualakasdatukopas .field ul li:nth-child(2) .fa {
  color: #fff;
}
.hcontrast #block-aktualakasdatukopas .field ul li:nth-child(3) .fa {
  color: #fff;
}
.hcontrast .graypromo {
  background-color: #000000;
}

.hcontrast .view-jautajumi-atbildes h3 {
  color: #fff;
}
.hcontrast .view-jautajumi-atbildes .panel-title a {
  color: #fff;
}

.hcontrast .view-jautajumi-atbildes .panel-title a.collapsed {
  color: #fff;
}

.hcontrast .view-jautajumi-atbildes .panel-title a:before {
  background-color: #000;
  color: #fff;
}

.hcontrast .view-jautajumi-atbildes .panel-title a.collapsed:before {
  background-color: #000;
  color: #fff;
}

.hcontrast .title-arrow h2.block-title:after {
  color: #fff;
}
.hcontrast .block-gray-tip {
  background-color: #000000;
  border: solid 1px #fff;
}
.hcontrast .block-gray-tip label {
  color: #fff;
}
.hcontrast .block-gray {
  background-color: #000000;
}
.hcontrast .block-gray label {
  color: #fff;
}
.hcontrast.portal .btn-primary,
.hcontrast.portal .btn {
  background-color: #000;
  border:2px solid #fff;
}
.hcontrast.portal .btn-primary:hover,
.hcontrast.portal .btn:hover {
  background-color: #000;
}

.hcontrast .field--name-field-adrese {
  color: #fff;
}

.hcontrast .field--name-field-adrese:before {
  color: #fff;
}
.hcontrast .ics_file,
.hcontrast .facebook_link {
  color: #fff;
}
.hcontrast .ics_file:before,
.hcontrast .facebook_link:before {
  color: #fff;
}
.hcontrast .full-node-summary,
.hcontrast .dvote .numvotes {
  color: #fff;
}
.hcontrast .dvote .vlabel {
  color: #fff;
}
.hcontrast .dvote .vbutton {
  background-color: #fff;
  color: #000000;
}
.hcontrast .datu-kopa.teaser h2, .datu-kopa.teaser h2 a {
  color: #fff;
}
.hcontrast .datu-kopa .field--name-body {
  color: #fff;
}

.hcontrast .datacat-wrapper {
  background: #000 !important;
  color:#fff !important;
  border:2px solid #fff;
}
.hcontrast .datacat-wrapper .datacat {
  color:#fff !important;
}

body.hcontrast ,
.hcontrast .panel,
.hcontrast [role=main],
.hcontrast .main,
.hcontrast h2.module-heading,
.hcontrast #content,
.hcontrast .container,
.hcontrast .row,
.hcontrast .span9,
.hcontrast .span3,
.hcontrast .search-form h2,
.hcontrast h1,
.hcontrast h2,
.hcontrast h3,
.hcontrast h4,
.hcontrast .pagination,
.hcontrast .table-bordered > thead > tr > th,
.hcontrast .table-bordered > tbody > tr > th,
.hcontrast .table-bordered > tfoot > tr > th,
.hcontrast .table-bordered > thead > tr > td,
.hcontrast .table-bordered > tbody > tr > td,
.hcontrast .table-bordered > tfoot > tr > td,
.hcontrast .btn,
.hcontrast .context-info,
.hcontrast dl,
.hcontrast ul,
.hcontrast .pill,
.hcontrast .search-form .filter-list,
.hcontrast .module-resource,
.hcontrast .module-resource input,
.hcontrast .recline-pager .pagination input,
.hcontrast .recline-slickgrid .slick-row,
.hcontrast .modal,
.hcontrast .media-item,
.hcontrast .secondary a,
.hcontrast .secondary a:hover,
.hcontrast .secondary a:focus
{
  color:#fff !important;
  background: #000 !important;
}
.hcontrast .breadcrumb>li,
.hcontrast .breadcrumb>li a {
    text-shadow: none;
  color:#fff !important;
  background: #000 !important;
}


.hcontrast a,
.hcontrast a:hover,
.hcontrast a:focus
{
  color:#fff !important;
  background: #000 !important;
}

.hcontrast .media-item a,
.hcontrast .media-item a:hover,
.hcontrast .media-item a:focus
{
  color:inherit;
  background: none !important;
}



.hcontrast .pill,
.hcontrast .module-resource input,
.hcontrast .modal {
  border:1px solid #fff !important;
}

.hcontrast .nav-item.active>a:before,
.hcontrast .nav-aside li.active a:before {
background: #000;
}

.hcontrast select {
  background: #FFF;
  color: #000;
}

.hcontrast .resource-item:hover {
    background: #000;
    border: 1px solid #fff;
}




@media(max-width:640px) {
  .captcha {
  }
  .g-recaptcha {
    transform:scale(0.77);-webkit-transform:scale(0.77);transform-origin:0 0;-webkit-transform-origin:0 0;
  }
  .block-gray-tip {
    padding: 35px 15px;
  }
}




.recline-pager .btn,
.recline-pager .btn-default,
.recline-pager .pagination .page-range,
.recline-query-editor input {

    height: 38px !important;
}

.recline-query-editor input  {
    max-width: 170px !important;
}


.region-menu2 .nav > li > a:focus,
.region-menu2 .nav > li > a:active {
    text-decoration: none;
    background-color: none;
}

.region-menu2 ul.nav > li.active a:after {
    content: '';
    position: absolute;
    bottom: -11px;
    display: block;
    left: 54px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 5px 6px 5px;
    border-color: transparent transparent #ffffff transparent;
    line-height: 0px;
    _border-color: #000000 #000000 #ffffff #000000;
    _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');

}


#AnalyticsPrompt {
  border: 1px solid #ccc;
  position: fixed;
  bottom:0;
  left:0;
  right:0;
  background: #fff;
  z-index: 10000;
  padding:5px;
}
#AnalyticsPrompt .Question {
  font-size: 14px;
}
#AnalyticsPrompt .btn {
  float: right;
  margin-right: 15px;
}

.portal li .fa-legal:before {
  content: "\f0e3";
}

.portal li .fa-sign-out:before {
  content: "\f2f5";
}

.portal li .fa-tachometer:before {
  content: "\f3fd";
}

.portal li .fa-legal,
.portal li .fa-sign-out,
.portal li .fa-tachometer {
  font-size: 14px;
}

.portal li .fa-legal {
  margin-top: 1px;
  transform: scaleX(-1);
}
